* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-component {
    border-radius: 1rem;
    border: 1px solid rgb(235 235 235);
    padding: 1.5rem 1rem 10rem 1rem;
    margin: 5% auto;
    width: 23%;
    color: #333333;
    font-family:Arial, Helvetica, sans-serif;
}


.free {
    padding-top: 0.7rem;
    font-weight: 600;
    font-size:20px;
}


.main p:nth-of-type(1) {
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 20px;
}


.main p:nth-of-type(2) {
    margin-top: 8rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-weight: 700;
}


.btn {
    text-align: center;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    border: 1px solid black;
    width: 17rem;
    background: none;
    font-weight: 600;
    font-size: 1rem;
}


.main p:nth-of-type(3) {
padding: 2rem 0 1rem 0;
font-weight: 600;
font-size: 1rem;
}


.package {
    display: flex;
    font-size: 1rem;
    font-weight: 550;
    padding-top: 0.3rem;
    margin-left: 0.6rem;
}


.package p:nth-of-type(1) {
    margin-right: 0.7rem;
}


.interface, .extension {
    border-bottom: 2px dotted black;
}
